*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder{
    color:  #508991;
    background-color: #826C7F40;
    
}
body{
    height: 593px;
}
.weather-outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 593px;
}
.weather-app-container{
 
    padding: 25px 27px 82px 27px;
    gap: 0px;
    border-radius: 12px ;
    opacity: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    width:493px;
    height: 308px;
}

h2{
    color:#004346;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    
}
.search-icon button{
    background-color:#004346;
    padding: 7px 10px;

    
}
.search-bar{
    width: 391px;
    height: 39px;
    background-color: #826C7F40;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #004346;
    ;

}
.search-bar form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}
.search-bar input{
    border: none;
    margin-left: 155px;
    
}
.hr-text {
    border: 0;
    font-size: 14px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
  }
  .inner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
  .horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
  }
  .location-btn{
    width: 390px;
    background-color:#508991;
    color: white;
    border: none;
    padding: 11px 51px 11px 51px;
    

  }
  .location-btn:hover{
    transition: 0.8s;
    opacity: 0.8;
  }
    .second-weather{
    color: white;
  }
  .weather-app-container-two{
 
    padding: 25px 27px 82px 27px;
    gap: 0px;
    border-top-right-radius: 12px ;
    border-top-left-radius: 12px;
    opacity: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    width:493px;
    height: 490px;
    background-color:#172A3A;
    
}
.inner-content-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
.box1{
    background-color: #508991;
    width: 246px;
    height: 69px;
  
    padding: 8px 51px 8px 51px;
    
    border: 0px 1px 0px 0px;
    border-bottom-left-radius: 12px;
    


    
}
.box2{
    background-color: #508991;
    width: 246px;
    height: 69px;
  
    padding: 8px 51px 8px 51px;
    
    border: 0px 1px 0px 0px;
    
    border-bottom-right-radius: 12px;


    
}
.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    transform: translateY(-50px);
}
.weather{
    color: white;
}
.inner-content-two span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    text-align: center;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.box-content p{
    color: white;
}
.box-content-two p{
    color: white;
}
#location-name{
    color: white;
   
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;

}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.weather{
  
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: center;

}
#text-box{
    display: none;
    width: 391px;
    height: 39px;
    background: #D3DEDE;
    text-align: center;
    line-height: 38px;


}
#error-box{
    display: none;
    width: 391px;
    height: 39px;
    background-color:  #F4E7E1;
    text-align: center;
    line-height: 38px;
    

}
#geolocation-box{
    display: none;
    width: 391px;
    height: 39px;
    background-color:  #F4E7E1;
    text-align: center;
    line-height: 39px;
}



#weather-name{
    color: white;
}
.feels-like span{
    color: white;
}
.feels-like{
    display: flex;
    gap: 0.5rem;
}
.humidity{
    display: flex;
    gap: 0.5rem;
}
.humidity span{
    color: white;
}

    






